-   repo: git://github.com/pre-commit/pre-commit-hooks
    sha: 5bf6c09bfa1297d3692cadd621ef95f1284e33c0
    hooks:
    -   id: trailing-whitespace
    -   id: flake8
    -   id: check-merge-conflict
    -   id: double-quote-string-fixer
    -   id: end-of-file-fixer
    -   id: name-tests-test
    -   id: debug-statements
    -   id: check-added-large-files
    -   id: check-ast
    -   id: check-byte-order-marker
    -   id: check-case-conflict
    -   id: check-docstring-first
    -   id: check-json
    -   id: pretty-format-json
        args:
        - --autofix
        - --top-keys=_id
    -   id: check-symlinks
    -   id: check-yaml
    -   id: detect-private-key
    -   id: requirements-txt-fixer
-   repo: git://github.com/FalconSocial/pre-commit-mirrors-pep257
    sha: f464d46624a959c6969ce6bcf2cd531cdeefb85a
    hooks:
    -   id: pep257
-   repo: git://github.com/Lucas-C/pre-commit-hooks
    sha: v1.0.1
    hooks:
    -   id: remove-tabs
